
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css" />
      <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
       
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 - Aryan Arora</span>
        </div>
    
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blog">Blog</a></li>
            <li class="active"><a href="#">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts">Posts</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/posts/add">Add Post</a></li>     
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <aside class="col-md-9">
          <article>
            <h2>About</h2>
            <p>Hello, my name is Aryan and I aspire to be a social media influencer. I'm passionate about vloging and I believe that social media is a powerful tool to share my knowledge and connect with people who share the same </p><p>interests as me. I have already started building my online presence by creating profiles on major social media platforms like Instagram, Facebook, Twitter, and YouTube. My goal is to create high-quality content that </p><p>is visually appealing, informative, and engaging, and to build a loyal fanbase by responding to comments and messages from my followers. I'm also open to collaborating with other influencers in my niche to reach a </p><p>wider audience and build my credibility. I'm excited to embark on this journey and can't wait to see where it takes me!</p>
            </article>
        </aside>
        <section class="main col-md-3">
          <h2>Coming Soon</h2>
          <p>This section is not designed yet, Sorry! :).</p>
        </section>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>